<div class="my-container">
	<div class="row options  line-bottom-normal">
		<div class="options-left">
			<button type="button" class=" btn btn-reporting">
				<span class="arrow-left-icon"></span>
			</button>
			<span>Reporte individual de resultados</span>
		</div>
		<div class="options-right">
			<div class="col-md-6">
				<button type="button" class="btn my-btn-secondary">
					<span class="save-icon"></span> Descargar Reporte en PDF
					</button>
			</div>
			<div class="col-md-6">
				<button type="button" class="btn my-btn-primary">Crear Nuevo Plan de Acción
				</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="row  page-wrap">
			<div class="col-md-2 side-info">
				<div class="row line-bottom-bold">
					<div class="row info-profile">
						<img class="img-circle img-responsive" src="../../assets/images/user-man.jpg" id="user-pic">
						<span>Jhon </span>
						<span>Deep</span>
					</div>
					<div class="row list-group my-list-group">
						<a href="#" class="list-group-item">
					<span class="list-group-item-heading">Resumen</span></a>
						<a href="#" class="list-group-item">
					<span  class="list-group-item-heading">Competencias</span></a>
						<a href="#" class="list-group-item">
					<span class="list-group-item-heading">Planes de Acción</span>
					</a>
					</div>
				</div>
			</div>
			<div class="col-md-10  page-wrap">
				<div class="col-md-4 panel panel-default">
					<div class="panel-title">
						Promedio General de desempeño
					</div>
					<div class="panel-body  centrado-porcentual text-center">
						<div class="c100 p100 small">
							<span class="title-bar">5,0 <span class="acronym">Pts</span></span>
							<div class="slice">
								<div class="bar"></div>
								<div class="fill"></div>
							</div>
						</div>
						<span class="subtitle-top-medium">Nivel Obtenido
								<span class="subtitle-bot"> Excepcional</span>
						</span>
					</div>
				</div>
				<div class="col-md-4 panel panel-default">
					<div class="panel-title">
						Promedio de Competencias
					</div>
					<div class="panel-body">
						<div class="col-md-3">
							<div class="c100 p100 x-small">
								<span class="title-bar">5,0 <span class="acronym">Pts</span></span>
								<div class="slice">
									<div class="bar"></div>
									<div class="fill"></div>
								</div>
							</div>
						</div>
						<div class="col-md-9">
							<span class="subtitle-top">Nivel Obtenido
								<span class="subtitle-bot"> Excepcional</span>
							</span>
							<span class="title-progress">Autoevaluación
							<div class="progress">
								<div class="progress-bar p10" class="" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
								<span class="title-inline-primary">5,0Pts <span  class="title-inline-right">Excepcional</span></span>
							</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 panel panel-default">
					<div class="panel-title">
						Detalle de Evaluación
					</div>
					<div class="panel-body">
						<div class="col-md-9">
							<span class="title-progress">Descendiente
							<div class="progress">
								<div class="progress-bar p10" class="" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="title-inline-primary">5,0Pts <span  class="title-inline-right">Excepcional</span></span>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 side-info">

				<div class="row legend">
					<div class="legend-title">
						Escalas
					</div>
					<div class="legend-content">
						<span class="item-legend">
					<span class="bg-danger"></span> Insuficiente
						<p>Entre 1.0 y 2.5</p>
						</span>
						<span class="item-legend">
					<span class="bg-warning"></span> Bajo de lo Esprado
						<p>Entre 2.5 y 3.0</p>
						</span>
						<span class="item-legend">
					<span class="bg-success"></span> Dentro de lo Esperado
						<p>Entre 3.0 y 3.8</p>
						</span>
						<span class="item-legend">
					<span class="bg-info"></span> Sobre lo Esperado
						<p>Entre 3.8 y 4.5</p>
						</span>
						<span class="item-legend">
					<span class="bg-primary"></span> Excepcional
						<p>Entre 4.5 y 5.0</p>
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-10">
				<div class="row panel panel-default">
					<div class="panel-title">
						Promedio Competencias
					</div>
					<div class="panel-body">
						<div id="accordion" role="tablist">
							<div class="card">
								<div class="card-header" role="tab" id="headingOne">
									<div class="row line-top-normal">
										<div class="col-md-3 text-right">
											<span class="label-item">Capacidad de planificación y organización</span>
										</div>
										<div class="col-md-4">
											<div class="progress">
												<div class="progress-bar p10" class="" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
										<div class="col-md-3">
											<span class="title-inline-normal">5,0 Pts <span class="title-inline-right">Excepcional</span></p>
										</div>
										<div class="col-md-2 text-right">
											<a data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="false" aria-controls="collapseOne">	
										<span class="arrowhead-down-icon"></span></a>
										</div>
									</div>
								</div>
								<div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
									<div class="card-body">
										<p class="font-normal">Referido al primer item</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" role="tab" id="headingTwo">
									<div class="row">
										<div class="col-md-3 text-right">
											<span class="label-item">	Orientación al Cliete Interno y Externo</span>
										</div>
										<div class="col-md-4">
											<div class="progress">
												<div class="progress-bar p10" class="" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
										<div class="col-md-3">
											<span class="title-inline-normal">5,0 Pts <span class="title-inline-right">Excepcional</span></p>
										</div>
										<div class="col-md-2 text-right">
											<a data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">	
										<span class="arrowhead-down-icon"></span></a>
										</div>
									</div>
								</div>
								<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
									<div class="card-body">
										<p class="font-normal">Referido al segundo item</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" role="tab" id="headingThree">
									<div class="row">
										<div class="col-md-3 text-right">
											<span class="label-item">Excelencia a la Ejecución</span>
										</div>
										<div class="col-md-4">
											<div class="progress">
												<div class="progress-bar p10" class="" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
										<div class="col-md-3">
											<span class="title-inline-normal">5,0 Pts <span class="title-inline-right">Excepcional</span></p>
										</div>
										<div class="col-md-2 text-right">
											<a data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">	
										<span class="arrowhead-down-icon"></span></a>
										</div>
									</div>
								</div>
								<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
									<div class="card-body">
										<p class="font-normal">Referido al terecer item</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" role="tab" id="headingFour">
									<div class="row">
										<div class="col-md-3 text-right">
											<span class="label-item">Relaciones Humanas</span>
										</div>
										<div class="col-md-4">
											<div class="progress">
												<div class="progress-bar p10" class="" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
										<div class="col-md-3">
											<span class="title-inline-normal">5,0 Pts <span class="title-inline-right">Excepcional</span></p>
										</div>
										<div class="col-md-2 text-right">
											<a data-toggle="collapse" href="#collapseFour" role="button" aria-expanded="false" aria-controls="collapseFour">	
										<span class="arrowhead-down-icon"></span></a>
										</div>
									</div>
								</div>
								<div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
									<div class="card-body">
										<p class="font-normal">Referido al cuarto item</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" role="tab" id="headingFive">
									<div class="row">
										<div class="col-md-3 text-right">
											<span class="label-item">Comunicación Eficaz</span>
										</div>
										<div class="col-md-4">
											<div class="progress">
												<div class="progress-bar p10" class="" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
										<div class="col-md-3">
											<span class="title-inline-normal">5,0 Pts <span class="title-inline-right">Excepcional</span></p>
										</div>
										<div class="col-md-2 text-right">
											<a data-toggle="collapse" href="#collapseFive" role="button" aria-expanded="false" aria-controls="collapseFive">	
										<span class="arrowhead-down-icon"></span></a>
										</div>
									</div>
								</div>
								<div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
									<div class="card-body">
										<p class="font-normal">Referido al quinto item</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" role="tab" id="headingSix">
									<div class="row">
										<div class="col-md-3 text-right">
											<span class="label-item">Tolerancia a la Presión de Trabajo</span>
										</div>
										<div class="col-md-4">
											<div class="progress">
												<div class="progress-bar p10" class="" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
										<div class="col-md-3">
											<span class="title-inline-normal">5,0 Pts <span class="title-inline-right">Excepcional</span></p>
										</div>
										<div class="col-md-2 text-right">
											<a data-toggle="collapse" href="#collapseSix" role="button" aria-expanded="false" aria-controls="collapseSix">	
										<span class="arrowhead-down-icon"></span></a>
										</div>
									</div>
								</div>
								<div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordion">
									<div class="card-body">
										<p class="font-normal">Referido al Sexto item</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>