
.arrow-left-icon {
    background-image: url("@{base-url-img}arrow-left.svg");
		.icons-propierties;
}
.save-icon {
    background-image: url("@{base-url-img}save-icon.svg");
   	.icons-propierties(10px,8px);
}
.arrowhead-down-icon {
    background-image: url("@{base-url-img}arrowhead-down.svg");
   	.icons-propierties(10px,10px);
}

.home-icon {
    background-image: url("@{base-url-img}home.svg");
		.icons-propierties(35px,35px);
}
.briefcase-icon {
    background-image: url("@{base-url-img}briefcase.svg");
		.icons-propierties(12px,12px);
}
.graphic-icon {
    background-image: url("@{base-url-img}line-graphic.svg");
		.icons-propierties(12px,12px);
}
.key-icon {
    background-image: url("@{base-url-img}key.svg");
		.icons-propierties(12px,12px);
}
.flash-icon {
    background-image: url("@{base-url-img}flash.svg");
		.icons-propierties(12px,12px);
}
.chart-icon {
    background-image: url("@{base-url-img}pie-chart.svg");
		.icons-propierties(12px,12px);
}
.icons-propierties(@width:25px;@height:25px){
 background-repeat:no-repeat;
    background-size: contain;
    display: inline-block;
    .box(@width,@height);
}